body {
  background: black;
  font-family: 'Courier New', Courier, monospace;
  padding: 20px 30px;
  text-align: center;
}

.text{
  margin-top: 50px;
  color: wheat;
  font-weight: 800;
  font-size: 100px;
}

h1{
  text-transform: uppercase;
  font-weight: 800;
}

.listtext{
  margin-top: -5px;
}

#userInput  {
  margin-top: 30px;
  border-radius: 5px;
  min-width: 65%;
  padding: 15px;
  border: none;
  font-size: 20px;
}

#enter{
  
  margin-left: 15px;
  padding: 20px 25px;
  border-radius: 5px;
  color: black;
  background-color: wheat;
  transition: all 0.75s ease;
}
#enter:hover{
  background-color: goldenrod;
}

ul{
 
  text-align: center;
  margin-top: 20px;
}

.content{
  width: 1000px;
  font-size: 30px;
  margin-top: 5px;
  list-style: none;
  padding: 10px 20px;
  margin-left: 400px;
  color: black;
  background-color: wheat;
  text-transform: capitalize;
  border: 2px solid wheat;
  border-radius: 50px;
  margin-bottom: 10px;
  
}

.deletebutton  {
  font-weight: 1000;
  background: none;
  border: none;
  float: right;
  color: black;
  margin-top: 5px;
}

/* .done{
  background-color: rgb(179, 241, 177);
  color: black;
  border-color: rgb(179, 241, 177);
} */






.check {
  margin-top: 7px;
  float: left;
  position: relative;
  width: 100px;
  height: 20px;
  border-radius: 2px;
  appearance: none;
  background-color: red;
  transition: all .3s;
 }
 
 .check::before {
  content: '';
  position: absolute;
  border: solid rgb(120, 190, 120);
  display: block;
  width: .3em;
  height: .6em;
  border-width: 0 .2em .2em 0;
  z-index: 1;
  opacity: 0;
  right: calc(50% - .3em);
  top: calc(50% - .6em);
  transform: rotate(0deg);
  transition: all .3s;
  transform-origin: center center;
 }
 
 .check:checked {
  animation: a .3s ease-in forwards;
  background-color: rgb(120, 190, 120);
 }
 
 .check:checked::before {
  opacity: 1;
  transform: rotate(405deg);
 }
 
 @keyframes a {
  0% {
   opacity: 1;
   transform: scale(1) rotateY(0deg);
  }
 
  50% {
   opacity: 0;
   transform: scale(.8) rotateY(180deg);
  }
 
  100% {
   opacity: 1;
   transform: scale(1) rotateY(360deg);
  }
 }